:root {
  /* colors */
  --blue-950: hsl(213, 96%, 18%);
  --purple-600: hsl(243, 100%, 62%);
  --blue-300: hsl(228, 100%, 84%);
  --blue-200: hsl(206, 94%, 87%);
  --red-500: hsl(354, 84%, 57%);

  --grey-500: hsl(231, 11%, 63%);
  --purple-200: hsl(229, 24%, 87%);
  --blue-100: hsl(218, 100%, 97%);
  --blue-50: hsl(231, 100%, 99%);
  --white: hsl(0, 100%, 100%);

  --font-size: 16px;
}

@font-face {
  font-family: "Ubuntu";
  src: url(assets/fonts/Ubuntu-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url(assets/fonts/Ubuntu-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url(assets/fonts/Ubuntu-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}
html {
  height: 100%;
}

body {
  background-color: var(--blue-100);
  color: var(--grey-500);
  height: 100%;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--blue-950);
}

input,
button {
  cursor: pointer;
}

input:invalid {
  box-shadow: none;
  outline: none;
  /* border: 1px solid var(--red-500); */
}

input:hover {
  border: 2px solid var(--blue-950);
}

.main-container {
  position: relative;
  height: 100%;
}

.mobile__header {
  background: url(assets/images/bg-sidebar-mobile.svg) no-repeat center center;
  background-size: cover;
  height: 200px;
}

@media (min-width: 768px) {
  .mobile__header {
    display: none;
  }
}

.steps__container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}
.steps__container ul {
  display: flex;
  gap: 0.7rem;
}

.progressive-form {
  display: block;
  position: relative;
  top: -85px;
  z-index: 2;
  padding: 2rem 1.5rem;
  margin: 0 auto;
  width: 92%;
  max-width: 400px;
  background-color: var(--white);
  border-radius: 0.5rem;
}

#side-indicator {
  display: none;
}

.tab {
  display: none;
}

.tab-active {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.progressive-form__header p {
  margin-top: 0.6rem;
}

#step1 form {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* First step form */
.form__group {
  display: flex;
  flex-direction: column;
}

.form__group input::placeholder {
  font-weight: 700;
  color: var(--grey-500);
}

.form__label-wrapper {
  display: flex;
  justify-content: space-between;
}
.form__label-wrapper label {
  color: var(--blue-950);
  font-size: 14px;
  letter-spacing: -1px;
}

.form__control {
  border: 2px solid var(--purple-200);
  border-radius: 4px;
  margin-top: 0.3rem;
  padding: 0.8rem;
}

.error__text {
  display: none;
  color: var(--red-500);
  font-weight: 700;
  font-size: 14px;
}

.step__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--blue-100);
  border: 1.1px solid var(--blue-100);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 700;
}

.step__circle-active {
  color: var(--blue-950);
  background-color: var(--blue-200);
  border: none;
}

.mobile__footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--blue-50);
  width: 100%;
  padding: 0.8rem 0.7rem;
}

.btn__nextStep {
  color: var(--blue-100);
  background-color: var(--blue-950);
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.card {
  display: flex;
  gap: 1rem;
  width: 100%;
  border: 2px solid var(--purple-200);
  border-radius: 8px;
  padding: 0.8rem 1rem;
}

.card:hover {
  border: 2px solid var(--blue-950);
}

.cards input {
  display: none;
}

.card__info h3 {
  color: var(--blue-950);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.card__info p {
  margin-top: 4px;
  font-size: 13px;
  letter-spacing: -1px;
}

.card__info p:nth-of-type(2) {
  color: var(--blue-950);
}

input[type="radio"]:checked + .card {
  border-color: var(--blue-950);
  background: var(--blue-100);
}

/* switch */
.switch {
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: var(--blue-100);
  border-radius: 10px;
  margin-top: 0.6rem;
}

.switch label {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
}

.switch input {
  display: none;
}
.switch label span {
  font-weight: 500;
}

.switch__trigger {
  width: 35px;
  height: 18px;
  background-color: var(--blue-950);
  border-radius: 20px;
  position: relative;
  padding: 3px 4px;
}

.switch__trigger::after {
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  background-color: var(--blue-100);
  transition: all 0.4s ease;
  border-radius: 50%;
}

.switch input[type="checkbox"]:checked ~ .switch__trigger::after {
  transform: translateX(14px);
}

.switch input[type="checkbox"]:not(:checked) ~ .switch__tleft {
  color: var(--blue-950);
}

.switch input[type="checkbox"]:checked ~ .switch__tright {
  color: var(--blue-950);
}

/* bottom buttons */
#btn-confirm {
  display: none;
}

.btn__back {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--grey-500);
  font-weight: 500;
}

.btn__back:hover {
  color: var(--blue-950);
}

/* Step3 */
#step3 .cards {
  margin-top: 1rem;
}

#step3 .card {
  display: flex;
}

#step3 input {
  display: block;
}

#step3 .card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#step3 .card__info p {
  font-size: 14px;
  letter-spacing: -0.2px;
}

#step3 .card__info > p {
  color: var(--purple-600);
}

#step3 input {
  display: none;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group__label {
  position: relative;
}

.form-group__label:before {
  content: "";
  border: 2px solid var(--purple-200);
  border-radius: 4px;
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group__input:checked + label:before {
  background-color: var(--purple-600);
  border: 2px solid transparent;
}

.form-group__input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid var(--white);
  background-color: var(--purple-600);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.card:has(input:checked) {
  border: 1.3px solid var(--blue-950);
}

/* step4 */
.confirmation {
  width: 100%;
  background-color: var(--blue-50);
  padding: 1.2rem;
  border-radius: 10px;
  margin-top: 0.8rem;
}

.confirmation_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirmation_header p,
.confirmation_header span {
  font-weight: 700;
  color: var(--blue-950);
  margin-bottom: 5px;
  text-transform: capitalize;
}

.confirmation_header a {
  color: var(--grey-500);
  font-weight: 500;
}

.confirmation_info {
  border-top: 1.3px solid var(--purple-200);
  margin-top: 15px;
}

.confirmation_info li {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.confirmation_info p {
  font-weight: 500;
}
.confirmation_info span {
  font-weight: 500;
  color: var(--blue-950);
  font-size: 13px;
}

.confirmation__total {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 1rem;
}

.confirmation__total span {
  color: var(--purple-600);
  font-weight: 700;
  font-size: 14px;
}
/* step5 */
#step5.tab-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

#step5 img {
  width: 40px;
}

.remove {
  display: none !important;
}

.hidden {
  opacity: 0;
  width: 0;
}

.sidebar-indicator {
  display: none;
}

.form__btns {
  display: none;
}

@media (min-width: 768px) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .progressive-form {
    display: flex;
    gap: 5rem;
    justify-content: center;
    max-width: 900px;
  }

  .sidebar-indicator {
    display: block;
    min-width: 260px;
    height: 540px;
    background: url("assets/images/bg-sidebar-desktop.svg") center / cover
      no-repeat;
    border-radius: 10px;
  }

  #stepper {
    display: none;
  }

  .steps__container {
    justify-content: start;
    padding-top: 3rem;
    padding-left: 3rem;
  }

  .sidebar-indicator--list {
    flex-direction: column;
    gap: 2rem !important;
  }
  .sidebar-indicator--list li {
    display: flex;
    gap: 1rem;
  }
  .step__circle {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }
  .sidebar-indicator--list p {
    color: var(--white);
    font-weight: 500;
    margin-top: 5px;
  }
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #mobile__footer {
    display: none;
  }

  #step1 {
    gap: 1.7rem;
  }

  .form {
    margin-top: 2rem;
  }

  .form__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
  }

  .cards {
    flex-direction: row;
  }

  .cards label {
    flex: 1;
  }

  .cards .card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .cards img {
    width: 50px;
    height: 50px;
  }

  #step2.tab {
    gap: 2rem;
  }

  #addOns.cards {
    flex-direction: column;
  }

  #addOns .card {
    flex-direction: row;
  }

  #step5 {
    position: relative;
    top: 18%;
    gap: 2rem;
  }
  #step5 img {
    width: 80px;
    height: 80px;
  }
  #step5 h1 {
    font-size: 2.5rem;
  }
  #step5 p {
    text-align: center;
  }
}

.visible {
  opacity: 1;
  display: block;
}
